<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Resources</title>
	{% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/cui-standard.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
</head>
<body class='cui' data-theme="dark">
	<div class="row dbl-padding-bottom">
        


        <header class="header">
    <div class="container">
        <div class="header-panels">
            <div class="header-panel">
                <a class="header__logo" href="http://www.cisco.com" target="_blank">
                    <img src="{% static 'img/cisco.png' %}" width="80" height="80">
                </a>
                <div class="header__title">Projects Info Page</div>
            </div>
            <div class="header-panel header-panel--right">
                <div class="header-item">
                    <ul id="tabsheader" class="tabs">
                        <li id="tabsheader-1" class="tab active">
                            <a tabindex="0">
                                <div class="tab__heading">Projects Info</div>
                            </a>
                        </li>
                        <li id="tabsheader-2" class="tab">
                            <a href="/resources/">
                                <div class="tab__heading">Resources Page</div>
                            </a>
                        </li>
                        <li id="tabsheader-3" class="tab">
                            <a href="/mainpage/">
                                <div class="tab__heading">Home</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   </div>
</header>


        </div>
    </div>
    

	<script>
		//google.charts.load('current', {'packages':['corechart']});
	  //google.charts.setOnLoadCallback(barChart2);

	 // barChart2({{nestedData}});
    window.onload = function(){

      projectsBar({{projectsAll|safe}},{{projectsAllResources|safe}});
      assignedVsNotAssignedToProjects({{assignedNotAssignedLabel|safe}},{{assignedNotAssignedCount|safe}})
      //redBlue({{count|safe}});
      //technoDougnut({{entSp|safe}},{{spEntCounts|safe}});
      //certsBar({{certificates|safe}},{{certiCount|safe}});

  };
  </script>
    <div id="maincontainer">


    <div class="container-fluid">
         <br>
        <div class="row base-margin-bottom">
            <div class="col-12">
                <div class="panel "><h5 class="text-weight-700"><center>Information related to Migration Team Projects </center></h5></div>
             </div>
        </div>
    </div>

  	<div class="row base-margin-bottom">
        <div class="col-6">
            <div class="panel text-weight-600">
                <ul><li>Total projects with migration team: <b>{{projectsCounts}}</b></li></ul>
                <ul><LH>Projects available with migration team </LH>
                    {% for name,count in projectsInfo %}
                    <li>Projects: <b class="text-weight-700">{{name}}</b> and number of resources: <b class="text-weight-700">{{count}}</b></li>
                    {% endfor %}    
                <li>Resources count not aligned to any projects : <b>{{notAssigned}}</b></li>
            </ul>

        </div>
    </div>
    <div class="col-6">
        
            <div class="panel text-weight-600"> 
        	<!--<canvas id="projectsBarGraph" height="250" width="600"></canvas>-->
            <canvas id="projectsBarGraph"></canvas>
            <!--<canvas id="assignedVsNotAssignedToProjects"></canvas>-->
        </div>
    </div>
</div>
	
	<div class="row base-margin-bottom">
        <div class="col-6">
            <div class="panel">
        	   <canvas id="assignedVsNotAssignedToProjects"></canvas>
        	   
            </div>
        </div>
    <div class="col-6">
        <div class="panel">
        <a href="">
        </a><canvas id="certiCount" height="250" width="600"></canvas>
        </div>
    </div>
    </div>
</div>


   <footer class="footer">
    <div class="footer__links">
        <ul class="list list--inline">
            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
        </ul>
    </div>
</footer> 
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript" src="{% static 'js/barCharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dougnut.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
</body>
</html>