<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Review Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-inverse" id="navmain">
    <div class="navbar-header">
      <!--<img src="cisco-white.png" alt="No Image" height="70" width="70">-->
      <a class="navbar-brand" href="#">Customer Experience</a>
    </div>
    <div class="navbar-brand-header">
        <h3>Project Review Details</h3>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="http://10.65.88.196:8000/mainpage">Home</a>
      <a href="#">Morgan Stanley - Wealth Management</a>
      <a href="#">Resource Status</a>
      <a href="#">Automation</a>
      <a href="#">Knowledge Base</a>
      <a href="#">Accolades</a>
      <a href="#">Reports</a>
  </div>

<!-- Use any element to open the sidenav -->
<span style="font-size:20px;cursor:pointer;" onclick="openNav()">&#9776; open</span>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "15%";
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("navmain").style.marginLeft = "15%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "10%";
  document.getElementById("navmain").style.marginLeft = "0";
}

$(document).ready(function(){

    $('#sixCols td.status').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });

    $('#sixCols td.overallStatus').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });

    $('#statustab td.scheduleStatus').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });

    $('#statustab td.qualityStatus').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });

    $('#statustab td.resourceStatus').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });

    $('#statustab td.automationStatus').each(function(){
        if ($(this).text() == "Green") {
            $(this).css('width','50px');
            $(this).css('margin','0 42%');
            $(this).css('height','40px');
            $(this).css('float','left');
            $(this).css('background-color','#3BB300');
            $(this).css('border-radius','200px');
            $(this).css('color','#3BB300');
            $(this).css('padding-left','10px');
            $(this).css('padding-right','10px');
            $(this).css('padding-top','10px');
            $(this).css('padding-bottom','10px');
        }
        else if ($(this).text() == "Amber"){
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FFB366');
          $(this).css('border-radius','200px');
          $(this).css('color','#FFB366');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
        }
        else{
          $(this).css('width','50px');
          $(this).css('margin','0 42%');
          $(this).css('height','40px');
          $(this).css('float','left');
          $(this).css('background-color','#FF8080');
          $(this).css('border-radius','200px');
          $(this).css('color','#FF8080');
          $(this).css('padding-left','10px');
          $(this).css('padding-right','10px');
          $(this).css('padding-top','10px');
          $(this).css('padding-bottom','10px');
          $(this).css('text-align','center');
        }
    });
});

</script>

<div id = "main">
  <div class="maincontainer">
    <h4>Click below link to add "Project Review" details for the {{proj_name}} Project</h4>
    <a href="http://10.65.88.196:8000/addProjectReview/{{proj_name}}">Click Here</a>
    <br>
    <br>
      {% for prirow in proj_review %}
    <table class = "sixCols">
      <tr>
          <th colspan = "6" style = "text-align: center;font-size:25px"> Project Review Details of {{prirow.reviewMonth}}</th>
      </tr>
      <tr>
        <td style = "width: 16%; font-weight: bold;">Project Name</td>
        <td style = "width: 16%;">{{prirow.projectName_id}}</td>
        <td style = "width: 16%;font-weight: bold;">Project PID</td>
        <td style = "width: 16%;">{{prirow.projectPID}}</td>
        <td style = "width: 16%;font-weight: bold;">Deal value</td>
        <td style = "width: 16%;">{{prirow.dealValue}}</td>
      </tr>
      <!--<tr class = "sixCols">-->
      <tr>
        <td style = "width: 16%;font-weight: bold;">CX DM Name</td>
        <td style = "width: 16%;">{{prirow.cxDMName}}</td>
        <td style = "width: 16%; font-weight: bold;">SDE Name</td>
        <td style = "width: 16%;">{{prirow.SDEName}}</td>
        <td style = "width: 16%; font-weight: bold;">Team Name</td>
        <td style = "width: 16%;">{{prirow.teamName}}</td>
      </tr>
      <!--<tr class = "sixCols">-->
      <tr>
        <td style = "width: 16%; font-weight: bold;">Review Date</td>
        <td style = "width: 16%;">{{prirow.reviewMonth}}</td>
        <td style = "width: 16%;font-weight: bold;">Start Date</td>
        <td style = "width: 16%;">{{prirow.startDate}}</td>
        <td style = "width: 16%; font-weight: bold;">End Date</td>
        <td style = "width: 16%;">{{prirow.endDate}}</td>
      </tr>
    </table>
    <br>
    <h3>Summary/Status</h3>
    <table id = "sixCols" style= "border: 10px solid #dddddd;">
      <tr>
        <td style = "font-weight: bold;">Executive Summary</td>
        <td style = "text-align:center; color: blue;">{{prirow.executiveSummary}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold;">Customer Sentiment</td>
        <td class = "status">{{prirow.customerSentiment}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold;">Overall Status</td>
        <td class = "overallStatus">{{prirow.overallStatus}}</td>
      </tr>
    </table>
    <br>
    <table id = "statustab" style= "border: 20px solid #dddddd;">
      <tr>
        <td style = "font-weight: bold; text-align: center;">Parameters</td>
        <td style = "font-weight: bold;text-align: center;">Status</td>
        <td style = "font-weight: bold; text-align: center;width: 100px;">Comments</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Schedule</td>
        <td class = "scheduleStatus">{{prirow.scheduleStatus}}</td>
        <td style="width: 100px; color: blue;">{{prirow.scheduleComments}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Quality</td>
        <td class = "qualityStatus">{{prirow.qualityStatus}}</td>
        <td style="width: 100px; color: blue;">{{prirow.qualityComments}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Resource</td>
        <td class = "resourceStatus">{{prirow.resourceStatus}}</td>
        <td style="width: 100px;color: blue;">{{prirow.resourceComments}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Automation</td>
        <td class = "automationStatus">{{prirow.resourceStatus}}</td>
        <td style="width: 100px; color: blue;">{{prirow.automationComments}}</td>
      </tr>
    </table>
    <table style= "border: 20px solid #dddddd;">
      <tr>
        <td style = "font-weight: bold; text-align: center;">Accomplishments/Commendations for the month {{prirow.reviewMonth}}</td>
        <td style = " text-align: center;width: 100px; color: blue;">{{prirow.accomplishments}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Goals for Next month</td>
        <td style = "text-align: center;width: 100px; color: blue;">{{prirow.goalsForNextMonth}}</td>
      </tr>
      <tr>
        <td style = "font-weight: bold; text-align: center;">Risks Impacts and Asks</td>
        <td style = "text-align: center;width: 100px; color: blue;">{{prirow.risksImpactAsks}}</td>
      </tr>
    </table>
    <br>
    <br>
    {% endfor %}
  </div>
      <br>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
